@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
body {
    background: url(/img/background.jpg) no-repeat;

}
/*Nav bar*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}
.Register {
    border-radius: 2px;
    border: 1px solid #d5e50d;
    background-color: transparent;
    transition: all 0.3s ease-in-out 0s;
}
.Register:hover {
    background-color: #edff10;
    color: black;
}
.profile_avatar {
    position: absolute;
    right: 390px;
}
.nickname {
    position: absolute;
    right: 310px;
    transition: all 0.3s ease-in-out 0s;
}
button {
    padding: 9px 25px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.nickname:hover{
    color: #FBF37C;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10%;
    background-color: #24252A;
}
.logo {
    cursor: pointer;
    border-radius: 30px;
}
.nav__links {
    list-style: none;
}
.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}
.nav__links li a {
    transition: all 0.3s ease 0s;
}
.nav__links li a:hover {
    color: #0088a9;
}
.logout {
    font-weight: bold;
    color: #b25757;
    transition: all 0.3s ease 0s;
    padding: 25px 125px 25px 120px;
}

.logout:hover {
    background-color: #c5c5c5;
    color: red;
    font-weight: bold;
}
.logout:hover:first-child {
    border-radius: 0px 0px 5px 5px;
}
.logout:hover:last-child {
    border-radius: 0px 0px 5px 5px;
}
.container {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    background-color: #ffffff;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 5px;
    box-shadow: 5px 10px 35px black;
    width: 300px;
    height: 505px;
    padding-top: 20px;
}
.options {
    display: table;
    margin: 0 auto;
    width: 300px;
    height: 145px;
}


.email_color {
    color: black;
}
.tasks {
    padding: 25px 0px 25px 0px;
}
.exitBtn {
    padding: 25px 0px 25px 0px;
}
.profile_options {
    padding: 25px 0px 25px 0px;
}
.profile_style {
    padding: 25px 66px 25px 60px;
    color: #b25757;
    transition: all 0.3s ease 0s;
}
.profile_style:hover {
    background-color: #c5c5c5;
    color: red;
    font-weight: bold;
}
.my_tasks {
    color: #b25757;
    padding: 25px 104px 25px 95px;
    transition: all 0.3s ease 0s;

}
.my_tasks:hover {
    background-color: #c5c5c5;
    color: red;
    font-weight: bold;
}
