.footer {
    position: absolute;
    background-color: #24252A;
    width: 100%;
    height: 60px;
    bottom: 0px;
}
.icons {
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    width: 200px;
}